.general__slider{
    border-radius: 16px;
    height: 342px;
    background-image: url('../../../images/123-7-1200x630-c-1.jpg');
    background-image: url('../../../images/123-7-1200x630-c-1.jpg');
}